<h3 class="text-muted">Channel list</h3>
	
<div id="channellist">
	<ul>
		<li ng-repeat="channel in channels track by $index">
			<h4><a class="channelname" ng-click="click_channel($index)">#{{channel.name}}</a></h4>
		</li>
	</ul>
</div>