<nav class="navbar app-body">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    
    <ul class="nav navbar-nav navbar-right">
    	<% if @name.nil? %>
			<li><a href="https://slack.com/oauth/authorize?
								scope=channels:read+channels:history
								&client_id=191649237506.193113640055">
								<img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>
			</li>
		<% else %>
			<li><a> <%= @name %> </a></li>
		<% end %>

	</ul>
  
  </div>
</nav>