<nav class="navbar app-body">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">slack api</a>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
			<li><a href="https://slack.com/oauth/authorize?scope=identity.basic&client_id=191649237506.191555220288"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>
			</li>
	</ul>
  
  </div>
</nav>