<h2 class="channel-name">{{channel.name}}</h2>

<ul class="message-list">
	<li ng-repeat="msg in messages">
		<p class="message-sender"> <b>{{msg.name}}</b> </p> : <p class="message-text"> {{msg.text}} </p>
	</li>
</ul>

<form autocomplete="off" ng-submit="addEntry()">
	<div class="form-group">
		<input class="form-control message" type="text" ng-model="userMesage.text">
	</div>

	<button  type="submit" class="btn btn-success message-button">Submit</button>

</form>
